[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"
  VITE_API_URL = "https://darslinker-backend.onrender.com/api"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200