[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "/"
  to = "/blog"
  status = 301

[[redirects]]
  from = "/blog/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/blog"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"